<section id="diagramComponent">
  <div class="container">
    <h1 class="text-center">Acompanhe Abaixo as tarefas</h1>

    <div class="diagramsWrapper">
      <div class="row">
        <div class="col-12 col-md-6 text-center">
          <progress-ring [title]="'Tarefas Concluídas'" [completeColor]="'#003499'" [size]="250" [tasks]="totalTasks"
            [currentTasks]="complete"></progress-ring>
        </div>
        <div class="col-12 col-md-6 text-center">
          <progress-ring [title]="'Tarefas Concluídas'" [completeColor]="'#EC7000'" [size]="250" [tasks]="totalTasks"
            [currentTasks]="notComplete"></progress-ring>
        </div>
      </div>
    </div>
  </div>
</section>
